openapi: 3.1.0
info:
  title: Canopy SDK API
  version: 0.2.0
  description: |
    HTTP contract consumed by the Canopy SDKs (TS, Python, MCP) and the
    `create-canopy-agent` CLI scaffolder. Only documents the endpoints an
    SDK or CLI actually calls — dashboard/webhook routes on canopy-app are
    out of scope unless they're also exposed to API-key callers.

servers:
  - url: https://trycanopy.ai
    description: Production
  - url: http://localhost:3000
    description: Local dev (canopy-app on port 3000)

security:
  - apiKey: []

components:
  securitySchemes:
    apiKey:
      type: http
      scheme: bearer
      bearerFormat: ak_live_... or ak_test_...

  schemas:
    SignRequest:
      type: object
      required: [agent_id]
      properties:
        agent_id:
          type: string
          example: agt_xxxxxxxx
        type:
          type: string
          enum: [eip3009, permit2, raw_transaction, x402, mpp]
          default: raw_transaction
        chain_id:
          type: integer
          default: 8453
          description: Base mainnet by default
        recipient_address:
          type: string
          description: Final on-chain recipient (after entity registry resolution)
        amount_usd:
          type: number
          description: USD amount, used by the policy engine
        payload:
          type: object
          description: Wire-level payload. Shape depends on `type`.
        dry_run:
          type: boolean
          default: false
          description: Evaluate policy and return the decision without signing or persisting.

    SignResponseAllowed:
      type: object
      required: [transaction_id, agent_id]
      properties:
        signature:
          type: string
          nullable: true
        tx_hash:
          type: string
          nullable: true
        agent_id:
          type: string
        cost_usd:
          type: string
          nullable: true
        transaction_id:
          type: string
          format: uuid
        idempotent:
          type: boolean
          default: false

    SignResponseDenied:
      type: object
      required: [error]
      properties:
        error:
          type: string
          example: Policy denied
        reason:
          type: string
        transaction_id:
          type: string
          format: uuid

    SignResponsePending:
      type: object
      required: [status]
      properties:
        status:
          type: string
          enum: [pending_approval]
        reason:
          type: string
        transaction_id:
          type: string
          format: uuid
        approval_request_id:
          type: string
          format: uuid

    PingResponse:
      type: object
      properties:
        ok:
          type: boolean
        agent_id:
          type: string
        agent_name:
          type: string
        org_id:
          type: string
        status:
          type: string

    ApprovalStatus:
      type: object
      required: [status]
      properties:
        status:
          type: string
          enum: [pending, approved, denied, expired]
        decided_at:
          type: string
          format: date-time
          nullable: true
        expires_at:
          type: string
          format: date-time
        transaction_id:
          type: string
          format: uuid

    ResolveResponse:
      type: object
      properties:
        address:
          type: string
        entity:
          type: object

    MeResponse:
      type: object
      required: [org_id]
      properties:
        org_id:
          type: string
        org_name:
          type: string
          nullable: true
        treasury_address:
          type: string
          nullable: true
        treasury_provisioned:
          type: boolean

    CreatePolicyRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
        description:
          type: string
          nullable: true
        spend_cap_usd:
          type: number
          nullable: true
        cap_period_hours:
          type: integer
          default: 24
        approval_required:
          type: boolean
          default: false
          description: |
            When false, all payments under the spend cap auto-approve regardless of
            `approval_threshold_usd`. Set true to gate single payments above the
            threshold for human approval.
        approval_threshold_usd:
          type: number
          nullable: true
          description: Single-payment threshold above which approval is required. Only enforced when `approval_required = true`.
        allowlist_addresses:
          type: array
          items:
            type: string
          nullable: true

    CreatePolicyResponse:
      type: object
      required: [policy_id]
      properties:
        policy_id:
          type: string
          format: uuid
        policy:
          type: object

    CreateAgentRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
        description:
          type: string
          nullable: true
        policyId:
          type: string
          format: uuid
          nullable: true
          description: If omitted, the agent is bound to the org's default policy.

    CreateAgentResponse:
      type: object
      required: [agentId]
      properties:
        agentId:
          type: string
          example: agt_a7x9k2m4
        agentUuid:
          type: string
          format: uuid
        policyId:
          type: string
          format: uuid
          nullable: true
        signerStatus:
          type: string
        primaryKey:
          type: object
          nullable: true
          properties:
            keyPrefix:
              type: string
            plaintext:
              type: string

paths:
  /api/sign:
    post:
      summary: Policy-gated signing request
      description: |
        Evaluates the policy atomically (allowlist, cap, approval threshold),
        persists the transaction record, and if allowed submits it via the
        org treasury wallet. Idempotent when an
        `Idempotency-Key` header is provided — a repeat call with the same
        (agent_id, idempotency_key) returns the cached decision.
      parameters:
        - in: header
          name: Idempotency-Key
          schema:
            type: string
          required: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignRequest'
      responses:
        '200':
          description: Allowed — signed and (if applicable) submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignResponseAllowed'
        '202':
          description: Pending human approval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignResponsePending'
        '403':
          description: Policy denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignResponseDenied'
        '401':
          description: Invalid API key
        '503':
          description: Privy not configured on the server

  /api/ping:
    post:
      summary: Connectivity + auto-register agent
      description: Logs a zero-amount transaction so the dashboard can detect "agent connected".
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [agent_id]
              properties:
                agent_id:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PingResponse'

  /api/approvals/{id}/status:
    get:
      summary: Poll an approval request's current status
      description: |
        Used by canopy.waitForApproval. API-key scoped — must belong to the
        same org as the approval's agent.
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Status snapshot
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApprovalStatus'
        '404':
          description: Not found or cross-org

  /api/resolve:
    get:
      summary: Entity registry lookup
      description: Public lookup, no auth. Resolves a registry slug like `agentic.market/anthropic` to an address.
      security: []
      parameters:
        - in: query
          name: entity
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Resolved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResolveResponse'

  /api/me:
    get:
      summary: API-key validation + org context
      description: |
        Returns the org name and treasury address for the bearer key. Used by
        `npx create-canopy-agent` to confirm the user pasted a valid key and
        is connected to the right org before creating a policy + agent.
      responses:
        '200':
          description: Validated; returns org context
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeResponse'
        '401':
          description: Invalid or revoked API key
        '404':
          description: Organization not found

  /api/policies:
    post:
      summary: Create a policy (API-key auth)
      description: |
        Creates a policy in the bearer key's org. Used by `create-canopy-agent`
        to provision a starter-preset policy before binding it to a freshly
        created agent. `approval_required = false` means all payments under
        the spend cap auto-approve.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePolicyRequest'
      responses:
        '200':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePolicyResponse'
        '400':
          description: Missing or invalid fields
        '401':
          description: Invalid API key

  /api/agents:
    post:
      summary: Create an agent
      description: |
        Creates a Canopy agent identity bound to the org treasury. Accepts
        either a Clerk session (dashboard "Connect agent" flow) or an org
        API key (`Authorization: Bearer ak_live_...`, used by
        `create-canopy-agent`). For API-key callers, the audit `user_id`
        resolves to the org's first admin via Clerk.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAgentRequest'
      responses:
        '200':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAgentResponse'
        '400':
          description: Missing or invalid fields
        '401':
          description: Unauthorized
        '404':
          description: Organization or referenced policy not found
        '503':
          description: Org treasury is not provisioned
